{#
 @var resultTable array
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block title%}Statistika - tooted{% endblock %}

{% block body %}
    <h1>Toodete statistika</h1>
    <p>
        Siin lehel n채ed, mis tooted hakkavad otsa l천ppema ning mida tasub juurde tellida ja mis koguses.
        Arvestatud on viimase kuu aruandeid
    </p>

    <table class="data">
        <tr>
            <th>Toode</th>
            <th>Laoseis</th>
            <th>Keskmine kulu p채evas</th>
            <th>J채tkub kuni</th>
            <th>Kuu varu</th>
        </tr>
        {% for resultRow in resultTable %}
        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
            <td>{{ resultRow.productName }}</td>
            <td>{{ resultRow.currentSupply }}</td>
            <td>{{ resultRow.avgConsumption }}</td>
            <td>{{ resultRow.availableUntil }}</td>
            <td>{{ resultRow.monthlySupply }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="100">Statistikat ei leitud</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
