{#
@var form ProductFilterType | FormView
#}
{% set layout = pos ? 'layout_pos' : 'layout' %}
{% extends "RotaliaInventoryBundle::"~layout~".html.twig" %}


{# Include ajaxSearch and datePicker templates, apply filter theme #}
{% form_theme form 'RotaliaInventoryBundle:Form:kassaFormLayout.html.twig'
'RotaliaInventoryBundle:Form:filter.html.twig'
%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/rotaliainventory/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/rotaliainventory/js/select2.et.js') }}"></script>
    <script src="{{ asset('bundles/rotaliainventory/js/search.js') }}"></script>
    <script src="{{ asset('bundles/rotaliainventory/js/purchase.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/rotaliainventory/css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    <h1>Kassa</h1>

    <div>
        {% block flash %}{{ parent() }}{% endblock %}

        <table class="data sortable" id="basketTable">
            <thead>
            <tr>
                <th><label for="product">Toode</label></th>
                <th>Hind</th>
                <th><label for="purchaseAmount">Kogus</label></th>
                <th>Summa</th>
            </tr>
            </thead>

            <tbody>
            <tr id="addNewProductRow">
                <td>{{ form_start(form, {'action':'#'}) }}{{ form_widget(form.product) }}{{ form_end(form) }}</td>
                <td id="purchasePrice">-</td>
                <td><input type="number" id="purchaseAmount" value="1" /></td>
                <td><button id="purchaseAddProduct">Lisa toode</button></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Kokku</td>
                <td id="basketTotal">0.00€</td>
            </tr>
            </tfoot>
        </table>

        <a href="#" id="paymentCash">[OSTA CASH]</a>
        <a href="#" id="paymentCredit">[OSTA krediit]</a>

        <div>
        <h3>
            Viimased tehingud
            <span class="reloadButton" title="Värskenda" id="latestTransactionsRefresh"></span>
            <span id="spinner" style="display: none;"></span>
        </h3>
            <div id="latestTransactions"></div>
        </div>
    </div>
{% endblock %}
