{#
 @var transactions Transaction[]|PropelModelPager
 @var filterForm TransactionFilterForm | FormView
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{# Include ajaxSearch and datePicker templates, apply filter theme #}
{% form_theme filterForm 'RotaliaInventoryBundle:Form:kassaFormLayout.html.twig'
    'RotaliaInventoryBundle:Form:filter.html.twig'
%}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/rotaliainventory/css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/rotaliainventory/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/rotaliainventory/js/select2.et.js') }}"></script>
    <script src="{{ asset('bundles/rotaliainventory/js/search.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Ostutehingute logi</h1>
    <div>
        {% block flash %}{{ parent() }}{% endblock %}

        <div class="archieve">
            {{ form(filterForm, {'action':path('RotaliaInventory_purchaseLogFilter')}) }}
        </div>

        <table class="data sortable">
            <tr>
                <th>Kuupäev</th>
                <th>Tehing</th>
                <th>Toode</th>
                <th>Kasutaja</th>
                <th>Hind</th>
                <th>Kogus</th>
                <th>Summa</th>
            </tr>
            {% for transaction in transactions %}
                <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                    <td>{{ transaction.createdAt | custom_date('%H:%M - %e. %b %Y') }}</td>
                    <td>{{ transaction.typeText }}</td>
                    {% if transaction.isPayment %}
                        <td>Krediit</td>
                        <td>
                            {{ transaction.getMemberRelatedByMemberId.fullName }}
                            {% if transaction.type == constant('TYPE_CREDIT_PAYMENT', transaction) %}
                                <br /><strong>Algataja:</strong> {{ transaction.getMemberRelatedByCreatedBy.fullName }}
                            {% endif %}
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td class="credit-{{ transaction.sum > 0 ? 'positive' : 'negative' }}">
                            {{ transaction.sum > 0 ? '+' : '' }}{{ transaction.sum | number_format(2, '.', ',') }}
                        </td>
                    {% else %}
                        <td>{{ transaction.product.name }}</td>
                        <td>{{ transaction.getMemberRelatedByMemberId.fullName }}</td>
                        <td>{{ transaction.currentPrice }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.sum | number_format(2, '.', ',') }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="100">Tehinguid ei leitud</td>
                </tr>
            {% endfor %}

            {% include 'RotaliaInventoryBundle::pagination.html.twig' with {
                pager: transactions,
                url: url('RotaliaInventory_purchaseLog', {page:'__page__'})}
            %}
        </table>
    </div>
{% endblock %}
