{#
 @var productPurchases ProductPurchase[]|PropelModelPager
 @var filterForm ProductPurchaseFilterForm | FormView
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}
{% form_theme filterForm 'RotaliaInventoryBundle:Form:datePicker.html.twig'
    'RotaliaInventoryBundle:Form:filter.html.twig'
%}

{% block body %}
    <h1>Ostutehingute logi</h1>
    <div>
        {% block flash %}{{ parent() }}{% endblock %}

        <div class="archieve">
            {{ form(filterForm) }}
        </div>

        <table class="data sortable">
            <tr>
                <th>Kuupäev</th>
                <th>Toode</th>
                <th>Kasutaja</th>
                <th>Hind</th>
                <th>Kogus</th>
                <th>Summa</th>
            </tr>
            {% for productPurchase in productPurchases %}
                <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                    <td>{{ productPurchase.createdAt | custom_date('%H:%M - %e. %b %Y') }}</td>
                    <td>{{ productPurchase.product.name }}</td>
                    <td>{{ productPurchase.member.fullName }}</td>
                    <td>{{ productPurchase.currentPrice }}</td>
                    <td>{{ productPurchase.amount }}</td>
                    <td>{{ productPurchase.sum | number_format(2, '.', ',') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100">Tehinguid ei leitud</td>
                </tr>
            {% endfor %}

            {% include 'RotaliaInventoryBundle::pagination.html.twig' with {
                pager: productPurchases,
                url: url('RotaliaInventory_purchaseLog', {page:'__page__'})}
            %}
        </table>
    </div>
{% endblock %}
