{#
 @var products Product[]
 @var reports Report[]
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block title %}Õllekassa aruanded{% endblock %}

{% block body %}
    <h1>Õllekassa aruanded</h1>
    <a class="noPrint" href="{{ url('RotaliaReport_list') }}">Tagasi</a>

    <div>
        {% block flash %}{{ parent() }}{% endblock %}

        <div class="noPrint">
            <div class="fleft">
                {% if not reports.isLastPage() %}
                    &laquo;<a href="{{ url('RotaliaReport_browse', {'page':reports.getNextPage()}) }}">Eelmised</a>
                {% endif %}
            </div>
            <div class="fright">
                {% if not reports.isFirstPage() %}
                    <a href="{{ url('RotaliaReport_browse', {'page':reports.getPreviousPage()}) }}">Järgmised</a>&raquo;
                {% endif %}
            </div>
        </div>

        <table class="data sortable w100pc">
            <tr>
                <th colspan="2">Kuupäev:</th>
                {% for report in reports %}
                <th><a href="{{ path('RotaliaReport_view', {'id':report.id}) }}">{{ report.createdAt | custom_date }}</a></th>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2">Aruande koostaja:</td>
                {% for report in reports %}
                    <td>{{ report.getMemberName() }}{% if report.isUpdate %} <strong>*</strong>{% endif %}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2">Sularaha:</td>
                {% for report in reports %}
                    <td>
                        {% if report.isUpdate() and report.getCash() > 0 %}+{% endif %}{{ report.getCash() | number_format(2, '.', ',') }}€
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>Toode</th>
                <th>Hind</th>
                {% for report in reports %}
                    <th>Kogus</th>
                {% endfor %}
            </tr>

            {% set rowNum = 0 %}

            {% for product in products %}
                {% if product.isActive or product.isInReports(reports) %}
                    {% set rowNum = rowNum + 1 %}
                    <tr class="{{ cycle(['even', 'odd'], rowNum) }} {% if not product.isActive %}inactive{% endif %}">
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }} €/{{ product.amountType }}</td>
                        {% for report in reports %}
                            {% set reportRow = report.getReportRowForProduct(product) %}
                            <td>{% if reportRow %}{{ reportRow.getAmountFormatted(product) | raw }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}

            <tr>
                <td colspan="2" class="right">
                    Toodete koguväärtus:
                </td>
                {% for report in reports %}
                    <td>
                        {% if report.isUpdate %}
                            -
                        {% else %}
                            {{ report.getTotalProductValue() | number_format(2, '.', ',') }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2" class="right">
                    Eeldatav müügitulu:
                </td>
                {% for report in reports %}
                    <td>
                        {% if report.isUpdate %}
                            -
                        {% else %}
                            {{ report.getExpectedProfit() | number_format(2, '.', ',') }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <td colspan="2" class="right">
                    Tegelik müügitulu:
                </td>
                {% for report in reports %}
                    {% if report.isUpdate %}
                        <td>-</td>
                    {% else %}
                        <td class="report-{% if report.isNegativeProfit %}error{% else %}ok{% endif %}">
                            {{ report.getActualProfit() | number_format(2, '.', ',') }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>

            {% if is_granted('ROLE_ADMIN') %}
                <tr class="noPrint">
                    <td colspan="2" class="right">Tegevused:</td>
                    {% for report in reports %}
                        <td>
                            <a href="{{ path('RotaliaReport_edit', {'id':report.id}) }}">Muuda</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
