{#
 @var products Product[]
 @var reports Report[]
 @var activeReport Report
 @var newReport Report - used for current inventory state
 @var reportRowArray array
 @var reportForm ReportType
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/rotaliainventory/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/js/report.js') }}"></script>
{% endblock %}

{% block title%}Õllekassa aruanded{% endblock %}

{% block body %}
    <h1>Kassa aruanne</h1>

    <div>
        {% block flash %}{{ parent() }}{% endblock %}

        <div class="noPrint">
            <a href="{{ path('RotaliaReport_browse', {'page':1}) }}">Sirvi</a>
            {% if is_granted('ROLE_ADMIN') %}
            <br /><a href="{{ path('RotaliaReport_update') }}">Majanduseestseisja aruande lisamine</a>
            {% endif %}
        </div>


        {{ form_start(reportForm, {'attr': {'novalidate': 'novalidate'}}) }}

        <table class="data sortable {% if reports.count > 3 %}w100pc{% endif %}">
            <tr>
                <th colspan="2">Kuupäev:</th>
                {% for report in reports %}
                <th><a href="{{ path('RotaliaReport_view', {'id':report.id}) }}">{{ report.createdAt | custom_date }}</a></th>
                {% endfor %}
                {% if activeReport.isNew() %}
                    <th>Prognoos</th>
                    <th>Täna</th>
                {% else %}
                    <th><a href="{{ path('RotaliaReport_view', {'id':activeReport.id}) }}">Täna</a></th>
                    <th>Prognoos</th>
                {% endif %}
            </tr>
            <tr>
                <td colspan="2">Aruande koostaja:</td>
                {% for report in reports %}
                    <td>{{ report.getMemberName() }}{% if report.isUpdate %} <strong>*</strong>{% endif %}</td>
                {% endfor %}

                {% if activeReport.isNew() %}
                    <td></td>
                {% endif %}

                <td>
                    {% if activeReport.isNew() %}
                        <strong>{{ app.user.member.fullName }} (Sina)</strong>
                    {% else %}
                        {{ activeReport.memberName() }}
                    {% endif %}
                </td>

                {% if not activeReport.isNew() %}
                    <td></td>
                {% endif %}
            </tr>
            {% include 'RotaliaInventoryBundle:Report:guardDutyRow.html.twig' with {
                'reports': reports,
                'activeReport': activeReport,
            } %}
            <tr>
                <td colspan="2">{{ form_label(reportForm.cash) }}</td>
                {% for report in reports %}
                    <td>
                        {% if report.isUpdate() and report.getCash() > 0 %}+{% endif %}{{ report.getCash() | number_format(2, '.', ',') }}€
                    </td>
                {% endfor %}

                {% if activeReport.isNew() %}
                    <td>
                        {{ activeReport.getExpectedCash() | number_format(2, '.', ',') }}€
                    </td>
                {% endif %}

                <td>
                    {{ form_widget(reportForm.cash) }}
                    <div id="calculator" class="ui-icon ui-icon-calculator"></div>
                    {{ form_errors(reportForm.cash) }}
                </td>

                {% if not activeReport.isNew() %}
                <td>
                    {{ newReport.getExpectedCash() | number_format(2, '.', ',') }}€
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Toode</th>
                <th>Hind</th>
                {% for report in reports %}
                    <th>Kogus</th>
                {% endfor %}

                {% if activeReport.isNew() %}
                    <th>Laoseis</th>
                {% endif %}
                <th>Kogus</th>
                {% if not activeReport.isNew() %}
                    <th>Laoseis</th>
                {% endif %}
            </tr>

            {% set rowNum = 0 %}

            {% for product in products %}

                {% if product.isActive or product.isInReports(reports) %}
                    {% set rowNum = rowNum + 1 %}

                    <tr class="{{ cycle(['even', 'odd'], rowNum) }} {% if not product.isActive %}inactive{% endif %}">
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }} €/{{ product.amountType }}</td>

                        {% for report in reports %}
                            {% set reportRow = report.getReportRowForProduct(product) %}
                            <td>{% if reportRow %}{{ reportRow.getAmountFormatted(product) | raw }}{% endif %}</td>
                        {% endfor %}

                        {% if activeReport.isNew() %}
                            <td>{{ activeReport.getExpectedProductAmount(product.id) }}</td>
                        {% endif %}

                        <td>
                            {% if product.isActive %}
                                {{ form_widget(reportForm.reportRowsForm[product.id]) }}
                                {{ form_errors(reportForm.reportRowsForm[product.id]) }}
                            {% endif %}
                        </td>

                        {% if not activeReport.isNew() %}
                            <td>{{ newReport.getExpectedProductAmount(product.id) }}</td>
                        {% endif %}
                    </tr>
                {% endif %}

            {% endfor %}

            <tr>
                <td colspan="2" class="right">
                    Toodete koguväärtus:
                </td>
                {% for report in reports %}
                    <td>
                        {% if report.isUpdate %}
                            -
                        {% else %}
                            {{ report.getTotalProductValue() | number_format(2, '.', ',') }}
                        {% endif %}
                    </td>
                {% endfor %}

                {% if activeReport.isNew() %}
                    <td></td>
                {% endif %}

                {# Active report #}
                <td>
                    {% if not activeReport.isNew() %}
                        {{ activeReport.getTotalProductValue() | number_format(2, '.', ',') }}
                    {% endif %}
                </td>

                {% if not activeReport.isNew() %}
                    <td></td>
                {% endif %}
            </tr>

            <tr>
                <td colspan="2" class="right">
                    Eeldatav müügitulu:
                </td>
                {% for report in reports %}
                    <td>
                        {% if report.isUpdate %}
                            -
                        {% else %}
                            {{ report.getExpectedProfit() | number_format(2, '.', ',') }}
                        {% endif %}
                    </td>
                {% endfor %}

                {% if activeReport.isNew() %}
                    <td></td>
                {% endif %}

                {# Active report #}
                <td>
                    {% if not activeReport.isNew() %}
                        {{ activeReport.getExpectedProfit() | number_format(2, '.', ',') }}
                    {% endif %}
                </td>

                {% if not activeReport.isNew() %}
                    <td></td>
                {% endif %}
            </tr>

            <tr>
                <td colspan="2" class="right">
                    Tegelik müügitulu:
                </td>
                {% for report in reports %}
                    {% if report.isUpdate %}
                        <td>-</td>
                    {% else %}
                        <td>
                            {{ report.getActualProfit() | number_format(2, '.', ',') }}
                        </td>
                    {% endif %}
                {% endfor %}

                {% if activeReport.isNew() %}
                    <td></td>
                {% endif %}

                {# Active report #}
                {% if not activeReport.isNew() %}
                    <td>
                        {{ activeReport.getActualProfit() | number_format(2, '.', ',') }}
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}

                {% if not activeReport.isNew() %}
                    <td></td>
                {% endif %}
            </tr>

            <tr>
                <td colspan="2" class="right">
                    Vahe:
                </td>
                {% for report in reports %}
                    {% if report.isUpdate %}
                        <td>-</td>
                    {% else %}
                        <td class="report-{% if report.isNegativeProfit %}error{% else %}ok{% endif %}">
                            {% if not report.isNegativeProfit %}+{% endif -%}
                            {{ (report.getActualProfit() - report.getExpectedProfit()) | number_format(2, '.', ',') }}
                        </td>
                    {% endif %}
                {% endfor %}

                {% if activeReport.isNew() %}
                    <td></td>
                {% endif %}

                {# Active report #}
                {% if not activeReport.isNew() %}
                    <td class="report-{% if activeReport.isNegativeProfit %}error{% else %}ok{% endif %}">
                        {% if not activeReport.isNegativeProfit %}+{% endif -%}
                        {{ (activeReport.getActualProfit() - activeReport.getExpectedProfit()) | number_format(2, '.', ',') }}
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}

                {% if not activeReport.isNew() %}
                    <td></td>
                {% endif %}
            </tr>

            <tr class="noPrint">
                <td colspan="2" class="right">Tegevused:</td>

                {% if is_granted('ROLE_ADMIN') %}
                    {% for report in reports %}
                        <td>
                            <a href="{{ path('RotaliaReport_edit', {'id':report.id}) }}">Muuda</a>
                        </td>
                    {% endfor %}
                {% endif %}

                {% if activeReport.isNew() %}
                    <td></td>
                {% endif %}

                <td class="right">
                    <input type="submit" class="button" value="Salvesta" />
                </td>

                {% if not activeReport.isNew() %}
                    <td></td>
                {% endif %}
            </tr>
        </table>

        {{ form_end(reportForm) }}
    </div>

    {% include 'RotaliaInventoryBundle:Report:cashDialog.html.twig' %}
{% endblock %}
