<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />

        <title>{% block title %}Inventar{% endblock %}</title>

        <link rel="apple-touch-icon" href="{{ asset('bundles/rotaliainventory/images/apple-touch-icon.png') }}">
        <link rel="icon" sizes="192x192" href="{{ asset('bundles/rotaliainventory/images/chrome-touch-icon-192x192.png') }}">

        {% block stylesheets %}
            <link href="{{ asset('bundles/rotaliainventory/css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/rotaliainventory/css/inventory.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/rotaliainventory/css/print.css') }}" rel="stylesheet" media="print">
            <link href="{{ asset('bundles/rotaliainventory/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/rotaliainventory/jquery-ui/jquery-ui.theme.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/rotaliainventory/jquery.alerts-1.1/jquery.alerts.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/js/jquery.2.1.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/jquery-ui/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/jquery.alerts-1.1/jquery.alerts.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('bundles/rotaliainventory/js/main.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        <div id="menu">
            <div id="container1">
                <div id="logo-new">
                    <img src="{{ asset('bundles/rotaliainventory/images/apple-touch-icon.png') }}" height="20px" width="20px" />
                    <a href="{{ path('_welcome') }}">korp! Rotalia õllekassa</a>
                </div>
                <div id="profile">
                    {% block profile %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") -%}
                            <span><strong>{{ app.user.member.fullName }}</strong></span>
                            <span>
                                <a id="userCredit" href="{{ path('RotaliaInventory_purchaseLogMember', {'memberId':app.user.member.id}) }}">
                                    {{- app.user.member.credit.credit | number_format(2, '.', ',') ~ ' €' -}}
                                </a>
                            </span>
                            <span><a href="{{ path('fos_user_security_logout') }}">Välju</a></span>
                        {% else %}
                            <span><a href="{{ path('fos_user_security_login') }}">Sisene</a></span>
                        {%- endif %}
                    {% endblock %}
                </div>
                <div class="clear">
                    {% block menu %}
                        {% include 'RotaliaInventoryBundle::menu.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div id="container2">{# body #}
            <div id="container3">
                {% block body %}
                    {# Display flashes #}
                    {% block flash %}
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="msg msg-{{ label }}">
                                    <div>
                                        <p>{{ flash }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}
                    {# override this block in template #}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
