{#
@var members Member[]
@var pagerParams array
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block title%}Krediidihaldus{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/js/credit.js') }}"></script>
{% endblock %}


{% block body %}
    <h1>Krediidihaldus</h1>
    <div>
        {% block flash %}{{ parent() }}{% endblock %}

        <table class="data sortable">
            <tr>
                <th><a href="{{ url('RotaliaInventory_creditManagementList', {sort: pagerParams.sort is defined and pagerParams.sort == 'name_asc' ? 'name_desc':'name_asc'}) }}">Nimi</a></th>
                <th>
                    {% if pagerParams.sort is not defined or pagerParams.sort == 'credit_asc' %}
                        <a href="{{ url('RotaliaInventory_creditManagementList', {sort: 'credit_desc'}) }}">Krediit</a>
                    {% else %}
                        <a href="{{ url('RotaliaInventory_creditManagementList') }}">Krediit</a>
                    {% endif %}
                </th>
                <th>#</th>
            </tr>
            {% for member in members %}
                <tr class="credit-row {{ cycle(['even', 'odd'], loop.index) }}">
                    <td>{{ member.fullName }}</td>
                    <td class="credit credit-{{ member.credit(member.conventId).creditStatus }}">
                        {{- member.totalCredit | number_format(2, '.', ',') ~ '€' -}}
                    </td>
                    <td>
                        <a href="{{ path('RotaliaInventory_purchaseLogMember', {'memberId':member.id}) }}">Logi</a>
                        <a href="#" data-member="{{ member.id }}" class="adjustMemberCredit">Muuda</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100">Liikmeid ei leitud</td>
                </tr>
            {% endfor %}

            {% include 'RotaliaInventoryBundle::pagination.html.twig' with {
            pager: members,
            url: url('RotaliaInventory_creditManagementList', pagerParams)}
            %}
        </table>
    </div>
{% endblock %}
