{#
 @var products Product[]
 @var form FormView
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/js/tablednd.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rotaliainventory/js/edit.js') }}"></script>
{% endblock %}

{% block title%}Tooted{% endblock %}

{% block body %}
    <h1>Tooted</h1>
    <div>
        {% block flash %}{{ parent() }}{% endblock %}

        {{ form_start(form) }}
        <table class="data sortable" id="productList">
            <tr>
                <th>#</th>
                <th>Nimi</th>
                <th>Hind</th>
                <th>Staatus</th>
                <th>&nbsp;</th>
            </tr>
            {% for formRow in form.products %}
                {% set product = products[formRow.id.vars.value] %}


                <tr class="{{ cycle(['even', 'odd'], loop.index) }}" id="row_{{ product.id }}">
                    <td class="seq">{{ product.seq }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} €/{{ product.amountType }}</td>
                    <td>{{ product.statusType }}</td>
                    <td>
                        <a href="{{ path('RotaliaInventory_edit', {'id':product.id}) }}">Muuda</a>
                        {{ form_row(formRow.id) }}
                        {{ form_row(formRow.seq, {'attr': {'class': 'inputSeq'}}) }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <a href="{{ path('RotaliaInventory_add') }}">Lisa toode</a>
                </td>
                <td colspan="100" class="right">
                    <input type="submit" class="button" value="Salvesta järjekord" />
                </td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>
{% endblock %}
