{#
@var pointsOfSale PointOfSale[]
@var form FormView
#}
{% extends "RotaliaInventoryBundle::layout.html.twig" %}

{% block title %}Kassad{% endblock %}

{% block body %}
    <h1>Kassad</h1>

    <div>
        {% block flash %}{{ parent() }}{% endblock %}
        <div>
            {% if pos.isNew %}
                Tee see brauser kassaks: <sup>* Kui sa logid enda kontost välja, siis aktiveerub kassa vaade</sup>
            {% else %}
                See brauser on märgitud kassaks <sup>* Kui sa logid enda kontost välja, siis aktiveerub kassa vaade</sup>
            {% endif %}

            {{ form_start(form) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_widget(form.save) }}
            {{ form_end(form) }}
        </div>

        <table class="data sortable">
            <tr>
                <th>Nimi</th>
                <th>Loodud</th>
                <th>Looja</th>
                <th>Info</th>
                <th>#</th>
            </tr>
        {% for pos in pointsOfSale %}
            <tr>
                <td>{{ pos.name }}</td>
                <td>{{ pos.createdAt | custom_date('%H:%M - %e. %b %Y') }}</td>
                <td>{% if pos.member %}{{ pos.member.fullName }}{% endif %}</td>
                <td class="wrap">{{ pos.deviceInfo }}</td>
                <td><a href="{{ path('RotaliaInventory_pointOfSaleDelete', {'id': pos.id}) }}">Kustuta</a></td>
            </tr>
        {% else %}
            <tr><td colspan="100">Ühtegi kassat ei leitud</td></tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}