{#
 @var transactions Transaction[]|PropelModelPager
#}

<table class="data sortable">
    <tr>
        <th>Kuupäev</th>
        <th>Tehing</th>
        <th>Toode</th>
        <th>Kasutaja</th>
        <th>Hind</th>
        <th>Kogus</th>
        <th>Summa</th>
    </tr>
    {% for transaction in transactions %}
        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
            <td>{{ transaction.createdAt | custom_date('%H:%M - %e. %b %Y') }}</td>
            <td>{{ transaction.typeText }}</td>
            {% if transaction.isPayment %}
                <td>Krediit</td>
                <td>
                    {% if transaction.getMemberRelatedByMemberId %}
                        {{ transaction.getMemberRelatedByMemberId.fullName }}
                    {% elseif transaction.getPointOfSaleId %}
                        Kassa: {% if transaction.getPointOfSale %}{{ transaction.getPointOfSale.name }}{% else %}ID {{ transaction.getPointOfSaleId }}{% endif %}
                    {% else %}
                        Tundmatu tehingu autor/asukoht!
                    {% endif %}
                    {% if transaction.type == constant('TYPE_CREDIT_PAYMENT', transaction) %}
                        <br /><strong>Algataja:</strong> {{ transaction.getMemberRelatedByCreatedBy.fullName }}
                    {% endif %}
                </td>
                <td>-</td>
                <td>-</td>
                <td class="credit-{{ transaction.sum > 0 ? 'positive' : 'negative' }}">
                    {{ transaction.sum > 0 ? '+' : '' }}{{ transaction.sum | number_format(2, '.', ',') }}
                </td>
            {% else %}
                <td>{{ transaction.product.name }}</td>
                <td>
                {% if transaction.getMemberRelatedByMemberId %}
                    {{ transaction.getMemberRelatedByMemberId.fullName }}
                {% elseif transaction.getConventId %}
                    Kassa: {% if transaction.getConvent %}{{ transaction.getConvent.name }}{% else %}ID {{ transaction.getConventId }}{% endif %}
                {% else %}
                    Tundmatu tehingu autor/asukoht!
                {% endif %}
                </td>
                <td>{{ transaction.currentPrice }}</td>
                <td>{{ transaction.count }}</td>
                <td>{{ transaction.sum | number_format(2, '.', ',') }}</td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="100">Tehinguid ei leitud</td>
        </tr>
    {% endfor %}
</table>
