{% use "form_div_layout.html.twig" %}

{# Rows #}

{% block form_rows -%}
    {% for child in form %}
        {{- form_row(child) -}}
        {% if not loop.last and not child.vars.id == 'submit' %}<span class="separator"> | </span>{% endif %}
    {% endfor %}
{%- endblock form_rows %}

{% block button_row -%}
    <span>
        {{- form_widget(form) -}}
    </span>
{%- endblock button_row %}

{% block form_row -%}
    <span>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </span>
{%- endblock form_row %}
